* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: #000;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
body {
    background-color: #fff;
    height: 100%;
    width: 100%;
    overflow-x: hidden;

    display: grid;
    grid-template-columns: 20px repeat(12, 1fr) 20px;
    grid-template-rows: repeat(5.5em);
    grid-auto-rows: 5.5em;
    grid-gap: 20px;
}
a {
    text-decoration: none;
    border-top: solid 6px #ACC8E500;
    border-bottom: solid 6px #ACC8E500;
}
a:hover {
    border-top: solid 6px #ACC8E500;
    border-bottom: solid 6px #ACC8E5;
}
img {
    width: 100%;
    position: relative;
    z-index: 2;
}

/* sections */
#start { grid-area: 1 / 7 / 2 / 9; }
#about { grid-area: 9 / 4 / 10 / 6; }
#works { grid-area: 17 / 7 / 18 / 9; }
#contact { grid-area: 50 / 7 / 51 / 9; }


/* typography */
.title-1 {
    font-size: 5rem;
}
.title-2 {
    font-size: 5rem;
    font-weight: 200;
}
.subtitle {
    font-size: 2.5rem;
}
.text-1 {
    line-height: 2.5;
    text-align: justify;
}
.text-2 {
    line-height: 1.8;
    text-align: justify;
}


/* start */
header {
    position: fixed;
    width: 100%;
    background-color: #fff;
    margin-top: 1.2%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 3;
}
header > a {
    margin-left: 1.8%;
}
header nav {
    display: flex;
    margin-right: 12%;
    justify-content: space-between;
}
nav a {
    display: flex;
    margin: 0 20%;
}

#ascii-art-0 {
    grid-area: 2 / 8 / 8 / 14;
    filter: brightness(0) saturate(100%) invert(98%) sepia(67%) saturate(7068%) hue-rotate(173deg) brightness(93%) contrast(90%);
    z-index: 1;
}
#title-web {
    position: relative;
    z-index: 2;
    grid-area: 5 / 3 / 6 / 5;
    margin-top: 5%;
}
#title-uu {
    position: relative;
    z-index: 2;
    grid-area: 6 / 3 / 7 / 5;
}
#title-des {
    position: relative;
    z-index: 2;
    grid-area: 6 / 4 / 7 / 7;
    padding-left: 23%;
}
#extras {
    display: flex;
    justify-content: space-between;
    z-index: 2;
    grid-area: 7 / 3 / 8 / 7;
}


/* about */
#selfie {
    position: relative;
    z-index: 2;
    grid-area: 11 / 3 / 15 / 6;
}
#hello {
    position: relative;
    z-index: 2;
    grid-area: 12 / 6 / 13 / 10;
    padding-left: 10%;
}
#introduction {
    position: relative;
    z-index: 2;
    grid-area: 12 / 6 / 17 / 10;
    padding-top: 15%;
    padding: 15% 10% 0 10%;
}
#skills {
    position: relative;
    z-index: 2;
    grid-area: 12 / 10 / 13 / 14;
    margin-top: 5.3%;
}
#lang-soft-inte {
    position: relative;
    z-index: 2;
    grid-area: 12 / 10 / 17 / 14;
    padding: 15% 25% 0 0;
}
#lang-soft-inte p {
    padding-bottom: 3%;
}


/* works */
#invitation-1 { grid-area: 19 / 2 / 23 / 8; }
#invitation-2 { grid-area: 19 / 8 / 23 / 14; }
#work-1 { grid-area: 24 / 9 / 25 / 11; text-align: right; }
#invitation-text { grid-area: 24 / 11 / 26 / 14; }

#ascii-art-1 {
    grid-area: 23 / 3 / 29 / 9;
    filter: brightness(0) saturate(100%) invert(98%) sepia(67%) saturate(7068%) hue-rotate(173deg) brightness(93%) contrast(90%);
    z-index: 1;
}
#book-item-1 { grid-area: 28 / 2 / 32 / 8; }
#book-item-2 { grid-area: 33 / 2 / 39 / 7; }
#book-item-3 { grid-area: 28 / 8 / 32 / 14; }
#work-2 { grid-area: 35 / 9 / 36 / 11; text-align: right; }
#book-text { grid-area: 35 / 11 / 37 / 14; }

#ascii-art-2 {
    grid-area: 36 / 7 / 41 / 12;
    filter: brightness(0) saturate(100%) invert(98%) sepia(67%) saturate(7068%) hue-rotate(173deg) brightness(93%) contrast(90%);
    z-index: 1;
}
#story-one-1 { grid-area: 42 / 2 / 46 / 8; }
#story-one-2 { grid-area: 42 / 8 / 46 / 14; }
#work-3 { grid-area: 47 / 9 / 48 / 11; text-align: right; }
#story-one-text { grid-area: 47 / 11 / 49 / 14; }

#ascii-art-4 {
    grid-area: 46 / 4 / 51 / 6;
    filter: brightness(0) saturate(100%) invert(98%) sepia(67%) saturate(7068%) hue-rotate(173deg) brightness(93%) contrast(90%);
    z-index: 1;
}

/* contact */
#ending {
    grid-area: 56 / 9 / 57 / 13;
}
#ending .subtitle {
    margin-top: 4%;
}
#ascii-art-3 {
    grid-area: 54 / 1 / 59 / 6;
    filter: brightness(0) saturate(100%) invert(98%) sepia(67%) saturate(7068%) hue-rotate(173deg) brightness(93%) contrast(90%);
    z-index: 1;
}


/* responsive */
@media screen and (min-width: 1151px) and (max-width: 1500px) {
    body { grid-auto-rows: 4.5em; }
    #title-des { grid-area: 6 / 5 / 7 / 8; padding-left: 0; }
    #extras { margin-top: 3%;  margin-right: 3%; grid-area: 7 / 3 / 8 / 8; }
}
@media screen and (min-width: 991px) and (max-width: 1150px) {
    body { grid-auto-rows: 4em; }
    header { width: 97%; }
    #title-web { grid-area: 6 / 3 / 7 / 5; }
    #title-uu { grid-area: 7 / 3 / 8 / 5; }
    #title-des { grid-area: 7 / 5 / 8 / 8; padding-left: 0; }
    #extras { margin-top: 3%; grid-area: 8 / 3 / 9 / 8; }

    #skills { margin-top: 1.3%; }
    #lang-soft-inte p { padding-bottom: 0; }

    .title-1 { font-size: 4rem; }
    .title-2 { font-size: 4rem; font-weight: 200; }
    .subtitle { font-size: 1.5rem; }
    .text-1, .text-2 { line-height: 1.5; }
}
@media screen and (min-width: 1px) and (max-width: 990px) {
    a { font-size: 0.4; }
    body { grid-auto-rows: 3em; grid-template-columns: 10px repeat(6, 1fr) 10px; }
    header nav { margin-right: 20%; }
    #ascii-art-0 { grid-area: 1 / 2 / 6 / 7; }
    #title-web { grid-area: 9 / 5 / 10 / 7; }
    #title-uu { grid-area: 10 / 5 / 11 / 7; }
    #title-des { grid-area: 10 / 6 / 11 /8; padding-left: 5%; }
    #extras { margin-top: 3%; grid-area: 11 / 5 / 12 / 8; }

    #hello { grid-area: 20 / 5 / 21 / 8; }
    #introduction { grid-area: 20 / 5 / 23 / 8; }
    #selfie { grid-area: 19 / 2 / 24 / 5; }
    #skills { margin: 1.3% 0 0 10%; grid-area: 24 / 5 / 25 / 8; }
    #lang-soft-inte { grid-area: 24 / 5 / 28 / 8; padding: 10% 10% 0 10%; }
    #lang-soft-inte p { padding-bottom: 1%; }

    /* work */
    #invitation-1 { grid-area: 34 / 2 / 38 / 6; }
    #invitation-2 { grid-area: 40 / 4 / 45 / 8; }
    #work-1 { grid-area: 45 / 2 / 46 / 3; margin: -10% 20% 0 0; }
    #invitation-text { grid-area: 45 / 3 / 46 / 6; margin-left: -5%; }

    #ascii-art-1 { grid-area: 26 / 4 / 32 / 6; }
    #book-item-1 { grid-area: 53 / 2 / 59 / 6; }
    #book-item-2 { grid-area: 65 / 2 / 71 / 5; }
    #book-item-3 { grid-area: 59 / 4 / 65 / 8; }

    #work-2 { grid-area: 70 / 5 / 71 / 6; margin-top: -10%; }
    #book-text { grid-area: 70 / 6 / 71 / 9; }

    #ascii-art-2 { grid-area: 73 / 3 / 81 / 6; }

    #story-one-1 { grid-area: 79 / 4 / 85 / 8; }
    #story-one-2 { grid-area: 85 / 2 / 91 / 6; }

    #work-3 { grid-area: 91 / 5 / 92 / 6; margin-top: -10%; }
    #story-one-text { grid-area: 91 / 6 / 92 / 9; }

    #ascii-art-4 { grid-area: 47 / 5 / 52 / 7; }

    /* contact */
    #ending { grid-area: 100 / 6 / 106 / 8; }
    #ascii-art-3 { grid-area: 97 / 1 / 104 / 6; }

    /* typography */
    .title-1 { font-size: 3rem; }
    .title-2 { font-size: 3rem; font-weight: 200; }
    .subtitle { font-size: 1.5rem; }
    .text-1, .text-2 { line-height: 1.5; }
}
